
			[data-rs-theme~="custom"] {
					--rs-font-family-title: ibmplexsans, circularstd, arial, helvetica, sans-serif;
--rs-font-family-body: ibmplexsans, circularstd, arial, helvetica, sans-serif;
--rs-font-family-monospace: Geist Mono, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
--rs-font-weight-regular: 400;
--rs-font-weight-medium: 400;
--rs-font-weight-semibold: 500;
--rs-font-weight-bold: 500;
--rs-font-weight-extrabold: 500;
--rs-font-weight-black: 500;
--rs-font-size-title-1: 6rem;
--rs-line-height-title-1: 6.25rem;
--rs-font-family-title-1: var(--rs-font-family-title);
--rs-font-weight-title-1: var(--rs-font-weight-extrabold);
--rs-letter-spacing-title-1: normal;
--rs-font-size-title-2: 5rem;
--rs-line-height-title-2: 5.25rem;
--rs-font-family-title-2: var(--rs-font-family-title);
--rs-font-weight-title-2: var(--rs-font-weight-extrabold);
--rs-letter-spacing-title-2: normal;
--rs-font-size-title-3: 4rem;
--rs-line-height-title-3: 4.25rem;
--rs-font-family-title-3: var(--rs-font-family-title);
--rs-font-weight-title-3: var(--rs-font-weight-extrabold);
--rs-letter-spacing-title-3: normal;
--rs-font-size-title-4: 3.5rem;
--rs-line-height-title-4: 3.75rem;
--rs-font-family-title-4: var(--rs-font-family-title);
--rs-font-weight-title-4: var(--rs-font-weight-bold);
--rs-letter-spacing-title-4: normal;
--rs-font-size-title-5: 3rem;
--rs-line-height-title-5: 3.25rem;
--rs-font-family-title-5: var(--rs-font-family-title);
--rs-font-weight-title-5: var(--rs-font-weight-bold);
--rs-letter-spacing-title-5: normal;
--rs-font-size-title-6: 2.25rem;
--rs-line-height-title-6: 2.5rem;
--rs-font-family-title-6: var(--rs-font-family-title);
--rs-font-weight-title-6: var(--rs-font-weight-bold);
--rs-letter-spacing-title-6: normal;
--rs-font-size-featured-1: 2rem;
--rs-line-height-featured-1: 2.5rem;
--rs-font-family-featured-1: var(--rs-font-family-body);
--rs-letter-spacing-featured-1: normal;
--rs-font-size-featured-2: 1.5rem;
--rs-line-height-featured-2: 2rem;
--rs-font-family-featured-2: var(--rs-font-family-body);
--rs-letter-spacing-featured-2: normal;
--rs-font-size-featured-3: 1.25rem;
--rs-line-height-featured-3: 1.75rem;
--rs-font-family-featured-3: var(--rs-font-family-body);
--rs-letter-spacing-featured-3: normal;
--rs-font-size-body-1: 1.125rem;
--rs-line-height-body-1: 1.75rem;
--rs-font-family-body-1: var(--rs-font-family-body);
--rs-letter-spacing-body-1: normal;
--rs-font-size-body-2: 1rem;
--rs-line-height-body-2: 1.5rem;
--rs-font-family-body-2: var(--rs-font-family-body);
--rs-letter-spacing-body-2: normal;
--rs-font-size-body-3: 0.875rem;
--rs-line-height-body-3: 1.25rem;
--rs-font-family-body-3: var(--rs-font-family-body);
--rs-letter-spacing-body-3: normal;
--rs-font-size-caption-1: 0.75rem;
--rs-line-height-caption-1: 1rem;
--rs-font-family-caption-1: var(--rs-font-family-body);
--rs-letter-spacing-caption-1: normal;
--rs-font-size-caption-2: 0.625rem;
--rs-line-height-caption-2: 0.75rem;
--rs-font-family-caption-2: var(--rs-font-family-body);
--rs-letter-spacing-caption-2: normal;
--rs-unit-base: 4px;
--rs-unit-x1: 4px;
--rs-unit-x2: 8px;
--rs-unit-x3: 12px;
--rs-unit-x4: 16px;
--rs-unit-x5: 20px;
--rs-unit-x6: 24px;
--rs-unit-x7: 28px;
--rs-unit-x8: 32px;
--rs-unit-x9: 36px;
--rs-unit-x10: 40px;
--rs-radius-small: 6px;
--rs-radius-medium: 8px;
--rs-radius-large: 12px;
--rs-radius-circular: 9999px;
--rs-color-background-primary: #0C66E4;
--rs-color-background-warning: #FFC53D;
--rs-color-border-positive: #46A758;
--rs-color-brand: #5a58f2;
--rs-color-white: #ffffff;
--rs-color-black: #000000;
--rs-color-background-brand: #26BF7F;
--rs-color-background-brand-secondary: #4C3DEC;
--rs-color-background-data-vis: #0EA5E9;
--rs-color-background-highlight: #FDE99B;
--rs-color-on-background-primary: oklch(1 0 0);
--rs-color-rgb-background-primary: 12.0105, 102, 227.9955;
--rs-color-on-background-critical: oklch(1 0 0);
--rs-color-on-background-warning: oklch(0 0 0);
--rs-color-rgb-background-warning: 255, 196.98749999999998, 60.996;
--rs-color-on-background-positive: oklch(1 0 0);
--rs-color-on-brand: oklch(1 0 0);
--rs-color-rgb-white: 255, 255, 255;
--rs-color-rgb-black: 0, 0, 0;
--rs-color-rgb-background-brand: 37.995, 190.995, 126.99;
--rs-color-rgb-background-brand-secondary: 75.99, 60.996, 236.0025;
--rs-color-rgb-background-data-vis: 13.9995, 165.0105, 232.99349999999998;
--rs-color-rgb-background-highlight: 253.011, 232.99349999999998, 154.989;
--rs-duration-rapid: 100ms;
--rs-duration-fast: 200ms;
--rs-duration-medium: 300ms;
--rs-duration-slow: 400ms;
--rs-easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
--rs-easing-accelerate: cubic-bezier(0.4, 0, 1, 1);
--rs-easing-decelerate: cubic-bezier(0, 0, 0.2, 1);
--rs-shadow-raised: 0px 1px 1px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.14);
--rs-shadow-overlay: 0px 2px 6px 0px rgba(0, 0, 0, 0.07), 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
--rs-viewport-m-min: 660;
--rs-viewport-l-min: 900;
--rs-viewport-xl-min: 1280;
--rs-z-index-relative: 10;
--rs-z-index-absolute: 100;
--rs-z-index-fixed: 200;
			}
		
			[data-rs-theme~="custom"][data-rs-color-mode="light"] {
					--rs-color-background-primary-faded: #CCE0FF;
--rs-color-border-primary: #0055CC;
--rs-color-border-primary-faded: #8ebbff;
--rs-color-foreground-primary: #0C66E4;
--rs-color-background-critical: #E54D2E;
--rs-color-background-critical-faded: #FEEBE7;
--rs-color-border-critical: #E54D2E;
--rs-color-border-critical-faded: #FDBDAF;
--rs-color-foreground-critical: #D13415;
--rs-color-background-warning-faded: #FFEE9C;
--rs-color-border-warning: #FFC53D;
--rs-color-border-warning-faded: #F3D673;
--rs-color-foreground-warning: #4F3422;
--rs-color-background-positive: #46A758;
--rs-color-background-positive-faded: #E9F6E9;
--rs-color-border-positive-faded: #B2DDB5;
--rs-color-foreground-positive: #27653B;
--rs-color-background-neutral: #E1E5EB;
--rs-color-background-neutral-faded: #F0F0F3;
--rs-color-border-neutral: #cdced7;
--rs-color-border-neutral-faded: #e8e8ec;
--rs-color-foreground-neutral: #1e1f24;
--rs-color-foreground-neutral-faded: #6F6F79;
--rs-color-background-disabled: #e8e8ec;
--rs-color-background-disabled-faded: #F8F8F8;
--rs-color-border-disabled: #0000000F;
--rs-color-foreground-disabled: #CACACA;
--rs-color-background-elevation-base: #ffffff;
--rs-color-background-elevation-raised: #fcfcfd;
--rs-color-background-elevation-overlay: #fcfcfd;
--rs-color-background-page: #ffffff;
--rs-color-background-page-faded: #f4f5f8;
--rs-color-background-data-vis-faded: #BAE6FD;
--rs-color-background-neutral-highlighted: #1e1f24;
--rs-color-border-neutral-highlighted: #1e1f2487;
--rs-color-rgb-background-primary-faded: 204, 223.992, 255;
--rs-color-rgb-background-critical: 228.99, 77.00999999999999, 46.002;
--rs-color-rgb-background-critical-faded: 254.00549999999998, 235.00799999999998, 231.0045;
--rs-color-rgb-background-warning-faded: 255, 237.9915, 156.00900000000001;
--rs-color-rgb-background-positive: 69.9975, 166.9995, 88.0005;
--rs-color-rgb-background-positive-faded: 232.99349999999998, 245.9985, 232.99349999999998;
--rs-color-on-background-neutral: oklch(0 0 0);
--rs-color-rgb-background-neutral: 225.012, 228.99, 235.00799999999998;
--rs-color-rgb-background-neutral-faded: 240.006, 240.006, 242.9895;
--rs-color-rgb-background-disabled: 231.99900000000002, 231.99900000000002, 236.0025;
--rs-color-rgb-background-disabled-faded: 247.9875, 247.9875, 247.9875;
--rs-color-rgb-background-elevation-base: 255, 255, 255;
--rs-color-rgb-background-elevation-raised: 251.99099999999999, 251.99099999999999, 253.011;
--rs-color-rgb-background-elevation-overlay: 251.99099999999999, 251.99099999999999, 253.011;
--rs-color-rgb-background-page: 255, 255, 255;
--rs-color-rgb-background-page-faded: 244.0095, 245.004, 247.9875;
--rs-color-rgb-background-data-vis-faded: 185.997, 230.01000000000002, 253.011;
--rs-color-rgb-background-neutral-highlighted: 29.988, 31.008, 36.006;
			}
		
			[data-rs-theme~="custom"][data-rs-color-mode="dark"] {
					--rs-color-background-primary-faded: #16263e;
--rs-color-border-primary: #0c66e4;
--rs-color-border-primary-faded: #364c8e;
--rs-color-foreground-primary: #579DFF;
--rs-color-background-critical: #E53D2E;
--rs-color-background-critical-faded: #371714;
--rs-color-border-critical: #E53D2E;
--rs-color-border-critical-faded: #6E2920;
--rs-color-foreground-critical: #FF997D;
--rs-color-background-warning-faded: #3F2700;
--rs-color-border-warning: #FFCA16;
--rs-color-border-warning-faded: #734e0a;
--rs-color-foreground-warning: #FFCA16;
--rs-color-background-positive: #40884e;
--rs-color-background-positive-faded: #1B2A1E;
--rs-color-border-positive-faded: #2D5736;
--rs-color-foreground-positive: #71D083;
--rs-color-background-neutral: #303136;
--rs-color-background-neutral-faded: #1e1e21;
--rs-color-border-neutral: #46484f;
--rs-color-border-neutral-faded: #222325;
--rs-color-foreground-neutral: #eeeef0;
--rs-color-foreground-neutral-faded: #b2b3bd;
--rs-color-background-disabled: #292a2e;
--rs-color-background-disabled-faded: #1D1D1D;
--rs-color-border-disabled: #292929;
--rs-color-foreground-disabled: #6c6e79;
--rs-color-background-elevation-base: #0f0f11;
--rs-color-background-elevation-raised: #161618;
--rs-color-background-elevation-overlay: #1a1a1c;
--rs-color-background-page: #0f0f11;
--rs-color-background-page-faded: #000000;
--rs-color-background-data-vis-faded: #075985;
--rs-color-background-neutral-highlighted: #eeeef0;
--rs-color-border-neutral-highlighted: #eeeef0b0;
--rs-color-rgb-background-primary-faded: 22.0065, 37.995, 61.990500000000004;
--rs-color-rgb-background-critical: 228.99, 60.996, 46.002;
--rs-color-rgb-background-critical-faded: 55.0035, 23.001, 19.992;
--rs-color-rgb-background-warning-faded: 63.01049999999999, 38.9895, 0;
--rs-color-rgb-background-positive: 64.005, 135.9915, 78.00450000000001;
--rs-color-rgb-background-positive-faded: 27.0045, 41.9985, 29.988;
--rs-color-on-background-neutral: oklch(1 0 0);
--rs-color-rgb-background-neutral: 47.991, 49.011, 54.009;
--rs-color-rgb-background-neutral-faded: 29.988, 29.988, 32.997;
--rs-color-rgb-background-disabled: 41.004, 41.9985, 46.002;
--rs-color-rgb-background-disabled-faded: 28.993499999999997, 28.993499999999997, 28.993499999999997;
--rs-color-rgb-background-elevation-base: 14.994, 14.994, 17.008499999999998;
--rs-color-rgb-background-elevation-raised: 22.0065, 22.0065, 23.9955;
--rs-color-rgb-background-elevation-overlay: 26.009999999999998, 26.009999999999998, 27.999;
--rs-color-rgb-background-page: 14.994, 14.994, 17.008499999999998;
--rs-color-rgb-background-page-faded: 0, 0, 0;
--rs-color-rgb-background-data-vis-faded: 7.0125, 88.99499999999999, 133.00799999999998;
--rs-color-rgb-background-neutral-highlighted: 237.9915, 237.9915, 240.006;
			}
		