.root {
  overflow: hidden;

  [class*='dismiss']:hover {
    color: var(--rs-color-foreground-primary);
    /* position: relative;
    color: var(--rs-color-on-background-primary);
    transition: none;
    opacity: 1;

    & > * {
      z-index: 1;
      transition: none;
      opacity: 1;
    }

    &:before {
      content: '';
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: inherit;
      background-color: var(--rs-color-background-primary);
      z-index: -1;
      width: 50px;
      margin-top: calc(-1 * var(--rs-unit-x2));
      margin-bottom: calc(-1 * var(--rs-unit-x2));
      margin-left: calc(-0.5 * var(--rs-unit-x1));
      transition: background-color 0.2s ease;
    } */
  }
}
